html {
  width: 100%;
  height: 100%;
  background: rgba(#000, 0.04);
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
  font-size: var(--labor-size);
  color: var(--color-text);
}

#app-container {
  padding: var(--spacing-xl) var(--spacing-xxl);
  display: flex;
  flex-direction: column;
  align-items: center;

  > h1 {
    text-align: center;
    font-size: var(--h1-size);
    margin-bottom: var(--spacing-l);
    font-weight: bold;
  }

  > button {
    margin-bottom: var(--spacing-m);
  }

  > .filters-container {
    margin-bottom: var(--spacing-m);

    select {
      border: solid 1px var(--color-dark);
      padding: var(--spacing-s);
      padding-right: var(--spacing-xl);
    }
  }
}
