.movie-item-container {
  display: flex;
  border-radius: var(--radius);
  overflow: hidden;
  background: var(--color-light);

  .media-container {
    width: 140px;
    min-height: 160px;

    .placeholder {
      width: 100%;
      height: 100%;
      background: var(--color-text-light);
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 38px;
        height: 38px;
        opacity: 0.4;
      }
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .infos-container {
    padding: var(--spacing-m);
    width: 100%;

    .title {
      font-size: var(--h3-size);
      font-weight: bold;
      margin-bottom: var(--spacing-s);
    }

    .release-date {
      color: var(--color-text-light);
    }

    .overview {
      margin-top: var(--spacing-s);
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
  }
}
